.btn {
	padding: 12px 0;

	color: $white;
	border-radius: 10px;
	border-bottom: solid 3px;
	text-align: center;
	width: 100%;
	max-width: 180px;
}

.btn--warning {
	background: $orange;
	border-color: darken($orange, 10);
}

.btn--alert {

}