.btn {
	padding: 12px 0;
	display: inline-block;

	color: $white;
	border-radius: 10px;
	border-bottom: solid 3px darken($purple, 10);
	text-align: center;
	background-color: $purple;

	@at-root {
		#{&}--small {
			padding-left: 30px;
			padding-right: 30px;
		}

		#{&}--medium {
			padding-left: 40px;
			padding-right: 40px;
		}

		#{&}--warning {
			background: $orange;
			border-color: darken($orange, 10);
		}

		#{&}--alert {
			background: $red;
			border-color: darken($red, 10);
		}
	}

	.fa {
		padding: 0 5px;
	}
}
