* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	line-height: 1.4;
}

a {
	text-decoration: none;
	padding: 5px;
}

img {
	line-height: 0;
}

i {
	font-style: italic;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix {
	@include grid-container;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.text-light {
	color: $white;
}

.text-dark {
	color: $grey;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.logo-pri {
	float: left;

	img {
		@include grid-media($sm-grid) {
			max-width: 150px;
		}
	}
}

.logo-sec {
	float: right;
	display: none;
	
	@include grid-media($lg-grid) {
		display: inline;
	}
}