// Tablet to desktop

$sm-grid: (
	columns: $columns-sm,
	gutter: 30px,
	media: $bp-sm
);

$md-grid: (
  columns: $columns-lg,
  gutter: 30px,
  media: $bp-md
);

$lg-grid: (
  columns: $columns-lg,
  gutter: 30px,
  media: $bp-lg
);