/**
 * Section specific styling overrides.
 */

.section {
	padding: 22px 0;

	@include grid-media($lg-grid) {
		padding: 40px 0;
	}

	.accordion {
		margin-bottom: 0px;
	}

	.accordion__header {
		margin: 0;
		padding: 30px 0;

		font-size: 24px;
		font-family: $font-sec;
		font-weight: normal;
		color: $white;

		@include grid-media($md-grid) {
			color: $grey;

			position: static;
			font-size: 30px;
		}

		&:after {
			top: 0;
			bottom: 0;
			height: 31px;
		}
	}

	.accordion__body {
		border: 0;

		@include grid-media($md-grid) {
			max-height: none;
			overflow: visible;
		}
	}

	.accordion__content {
		padding: 25px 15px 40px;

		@include grid-media($lg-grid) {
			padding: 0;
		}
	}

	@at-root {
		#{&}--no-pad {
			padding: 0;
		}

		#{&}__title {
			font-size: 24px;
			font-family: $font-sec;
			color: $white;

			@include grid-media($lg-grid) {
				font-size: 26px;
			}
		}

		#{&}__sub-title {
			font-size: 16px;
			font-family: $font-pri;
			color: $white;

			@include grid-media($lg-grid) {
				font-size: 20px;
			}
		}
	}
}

// Secondary news
.section--secondary-news {
	background-image: linear-gradient(-45deg, #fafafa 46%, #e4e4e4 49%, #e4e4e4 51%, #fafafa 55%);
	background-size: 10px 10px;

	.card__title {
		min-height: 100px;

		@include grid-media($lg-grid) {
			min-height: auto;
		}
	}
}

// Login
.section--login-panel {
	padding: 0;

	background: url(../img/login_panel_bg.png) #222349 no-repeat;
	box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.4);
	background-position: left bottom;

	@include grid-media($md-grid) {
		padding: 70px 0 0;
	} 

	.login-panel-desc {
		@include grid-media($lg-grid) {
			padding: 20px 0 0 40px;
		}
	}

	.accordion__header {
		margin-top: 0px;
		background: transparent;
		
		@include grid-media($md-grid) {
			display: none;
		}
	}

	a {
		margin-top: 10px;
	}
}


// Home updates
.section--home-updates {
	padding: 0;

	.traffic-updates {
		@include grid-media($md-grid) {
			padding-left: 30px;
		}

		.accordion__header {
			padding: 30px 15px;

			background: #fecd20;

			@include grid-media($md-grid) {
				padding: 30px 0;

				background: none;
			}
		}
	}

	.coe-updates {
		@include grid-media($md-grid) {
			padding-right: 60px;
		}

		.accordion__header {
			padding: 30px 15px;

			background: #7a7b92;
			color: $white;
			

			@include grid-media($md-grid) {
				padding: 30px 0;

				background: none;
				color: $grey;
			}
		}
	}
	

	@include grid-media($md-grid) {
		padding: 45px 0 60px;
	}

	h1 {
		color: $grey;
		margin-bottom: 10px;
	}

	.section__header {
		display: block;
	}
}

// Traffic cameras
.section--traffic-cameras {
	padding: 0;

	.accordion__header {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		color: $white;

		&:after {
			top: 30px;
			bottom: auto;
		}

		@include grid-media($lg-grid) {
			padding: 30px 0 75px;
		}
	}

	.accordion__body {
		position: relative;
		z-index: 100;
	}

}

.featured-cameras {
	position: relative;
	z-index: 1;

	padding-bottom: 145px;

	.card {

		@include grid-media($lg-grid) {
			margin-top: -40px;
		}
	}
}

.camera-feed {
	margin-top: 30px;

	img {
		width: 100%;
	}
}