.coe-price {
	width: 100%;

	th,
	td {
		text-align: left;
		padding: 15px 0;
	}

	tr {
		border-bottom: solid 1px $grey--lightest;
	}

	th {
		font-family: $font-pri;
		font-weight: 700;
		font-size: 18px;
		vertical-align: middle;
	}

	@at-root {
		#{&}__type {
			width: 40%;
			vertical-align: middle;
		}

		#{&}__price {
			width: 40%;
			font-family: $font-pri;
			font-weight: 300;
			font-size: 28px;
		}
	}
}