@import url(https://fonts.googleapis.com/css?family=Francois+One|Lato:100,100i,300,300i,400,400i,700,700i,900,900i);

body {
	font-family: $font-pri;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $font-sec;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

.text-pri {
	font-family: $font-pri;
}

.text-sec {
	font-family: $font-sec;
}

.category {
	font-family: $font-pri;
	text-transform: uppercase;

	.fa {
		margin-right: 5px;
	}
}

.coe-prices-desc {
	font-family: $font-pri;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: $grey;
}