// Project grey
$grey--darker: #222222;
$grey--dark: #333333;
$grey: #444444;
$grey--light: #555555;
$grey--lighter: #e9edf5;

// Project purple
$purple: #3f4fa0;

// Project white
$white: #ffffff;

// Project Orange
$orange: #ff8c00;

// Project Red
$red: #ab0000;

// Fonts
$font-pri: 'Lato', sans-serif;
$font-pri--black: 'Lato black', sans-serif;
$font-pri--italic: 'Lato italic', sans-serif;

$font-sec: 'Francois One', sans-serif;
