// Project grey
$grey--darker: #222222;
$grey--dark: #333333;
$grey: #444444;
$grey--light: #555555;
$grey--lighter: #666666;
$grey--lightest: #e9edf5;

// Project purple
$purple: #3f4fa0;

// Project white
$white: #ffffff;

// Project orange
$orange: #ff8c00;

// Project red
$red: #ab0000;

// Project yellow
$yellow: #fecd20;

// Fonts
$font-pri: 'Lato', sans-serif;
$font-pri--black: 'Lato black', sans-serif;

$font-sec: 'Francois One', sans-serif;

// Table
$table-border: #dddddd;
