footer {
	padding: 35px 0 30px;

	background: #222222;
	color: $white;
	font-size: 14px;
	
	a {
		color: $white;
	}

	.nav__links {
		font-family: $font-pri;
	}

	nav {
		padding-bottom: 35px;

		li {
			margin-bottom: 7px;
		}
	}

	.copyright {
		padding-top: 20px;

		border-top: solid 1px $grey;
	}
}