.header-desktop {

	position: relative;

	padding: 35px 0 0;
	display: none;

	background: $white;

	@include grid-media($lg-grid) {
		display: block;
	};

	.mega-menu {
		display: none;
	}
}

.header-mobile {
	position: relative;

	display: block;

	@include grid-media($lg-grid) {
		display: none;
	};

	@at-root {
		#{&}__utilities {
			position: relative;
			z-index: 200;

			padding-top: 15px;
			padding-bottom: 15px;

			background: $white;
		}
	}

	li:last-child {
		margin: 0;
	}
	
	.accordion:first-child {
		.accordion__header {
			padding: 0;
		}
	}

	.is-opened {
		> .accordion__header {
			background-color: transparent;
		}
	}

	.accordion__header {
		padding: 0;
		background-color: transparent;

		&:after {
			right: auto;
			margin-left: 10px;
		}
	}

	.accordion__body {
		border: 0;
	}

	.accordion__content {
		padding: 15px 0 0 25px;
	}
}