.hero {
	height: 360px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero__speech {
	position: relative;

	height: 100%;
	
	padding: 50px 70px 30px;
	width: 100%;
	background-color: rgba($yellow, .9);
	color: $grey--dark;

	@include grid-media($lg-grid){
		width: 35%;
	}

	&:after {
		@include grid-media($lg-grid){
			position: absolute;
			top: 40px;
			right: -20px;
			bottom: auto;
			left: auto;

			content: '';
			border-style: solid;
			border-width: 20px 0 20px 20px;
			border-color: transparent rgba($yellow, .9);
		}
	}

	.categories {
		font-size: 15px;

		.fa {
			font-size: 14px;
		}
	}

}

.hero__speech-title {
	margin: 20px 0 30px;
	line-height: 1.3;
}