.nav {
	margin-top: 25px;
	@include grid-container;

	.active {
		a {
		 	color: $orange;
		}
	}

	.btn {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	@at-root {
		#{&}__links {
			font-family: $font-pri--black;
			float: left;
			padding-top: 11px;
		}

		#{&}__link {
			float: left;
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}

			.fa {
				font-size: 18px;
			}

			a {
				color: $grey;
			}
		}

		#{&}__link--special {
			padding-left: 20px;

			border-left: solid 1px $grey;

			a {
				color: $purple;
			}
		}
	}

	.btn--login {
		padding: 35px;
	}
}