// Basic navigation
.nav {
	@include grid-container;

	padding-top: 25px;

	.fa {
		@media screen and (max-width: $bp-lg) {
			font-size: 18px;
		}
	}

	.active {
		a {
		 	color: $orange;
		}
	}

	.btn {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	@at-root {
		#{&}__links {
			float: left;
			padding-top: 11px;

			font-family: $font-pri--black;
		}

		#{&}__link {
			float: left;
			margin-right: 15px;
			padding-bottom: 35px;

			color: $grey;

			&:hover {
				.mega-menu {
					display: block;
				}
			}

			&:last-child {
				margin-right: 0;
			}

			.fa {
				font-size: 18px;
			}

			a {
				color: $grey;
			}
		}

		#{&}__link--special {
			padding-left: 20px;
			padding-bottom: 0;

			border-left: solid 1px $grey;

			a {
				color: $purple;
			}
		}
	}

	.btn--login {
		padding: 35px;
	}
}


// Here comes the mega menu
.mega-menu {
	position: absolute;
	right: 0;
	left: 0;
	z-index: 100;

	padding: 30px 0;
	background: rgba(#1d212d, .95);
	font-size: 18px;
	color: $white;
	transform: translate3d(0, calc(-100% - 86px), 0); // height of mega menu + header
	transition: transform .3s;

	@include grid-media($lg-grid) {
		top: 184px; // Height of header
		min-height: 340px;
	}

	&.is-opened {
		transform: translate3d(0, 0, 0); // height of mega menu + header
	}

	h2 {
		margin-bottom: 10px;
	}

	li {
		margin-bottom: 15px;

		@include grid-media($lg-grid) {
			margin-bottom: 10px;
		}

		.fa {
			padding-left: 7px;
			vertical-align: middle;
		}
	}

	li,
	a {
		color: $white;
		font-weight: normal;

		&:hover {
			cursor: pointer;

			@include grid-media($lg-grid) {
				color: $yellow;
				font-weight: 700;
			}

			> .mega-menu__items {
				display: block;
			}
		}

		&.is-active {
			color: $yellow;
			font-weight: 700;
		}
	}

	@at-root {
		#{&}__category {
			color: $orange;
			@include grid-column(2);
		}

		#{&}__items {
			font-family: $font-pri;
		}

		#{&}__items--l1 {
			width: 100%;
			max-width: 280px;

			@include grid-media($lg-grid) {
				position: relative;
			}
		}

		#{&}__items--l2 {
			@include grid-media($lg-grid) {
				position: absolute;
				left: 280px;
				top: 0;

				margin-left: 0;
				width: 200%; // 2x of items--l1's width.
				max-width: 480px;
			}
		}

		#{&}__items--l2,
		#{&}__items--l3 {
			margin: 15px 0 0 25px;

			@include grid-media($lg-grid) {
				margin: 0;
			}

			display: none;
		}
	}
}